.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 1.8rem;
  text-align: center;

  &__icon {
    margin-right: 1.8rem;
  }

  &__content {
    display: flex;
    font-size: var(--font-size-smaller);
  }

  &__timer {
    font-weight: var(--font-weight-medium);
    margin-left: 0.7rem;
  }
}
